body.background-beach:before, body.background-beach:after { background-image:url(../images/background-beach.jpg); }
body.background-beach2:before, body.background-beach2:after { background-image:url(../images/background-beach2.jpg); }
body.background-beach3:before, body.background-beach3:after { background-image:url(../images/background-beach3.jpg); }
body.background-beach4:before, body.background-beach4:after { background-image:url(../images/background-beach4.jpg); }
body.background-sky:before, body.background-sky:after { background-image:url(../images/background-sky.jpg); }
body.background-sky2:before, body.background-sky2:after { background-image:url(../images/background-sky2.jpg); }
body.background-forest:before, body.background-forest:after { background-image:url(../images/background-forest.jpg); }
body.background-forest2:before, body.background-forest2:after { background-image:url(../images/background-forest2.jpg); }
body.background-forest3:before, body.background-forest3:after { background-image:url(../images/background-forest3.jpg); }
body.background-rocks:before, body.background-rocks:after { background-image:url(../images/background-rocks.jpg); }
body.background-sunset:before, body.background-sunset:after { background-image:url(../images/background-sunset.jpg); }
body.background-seascape:before, body.background-seascape:after { background-image:url(../images/background-seascape.jpg); }
body.background-harbour:before, body.background-harbour:after { background-image:url(../images/background-harbour.jpg); }
body.background-trees:before, body.background-trees:after { background-image:url(../images/background-trees.jpg); }
body.background-river:before, body.background-river:after { background-image:url(../images/background-river.jpg); }
body.background-city:before, body.background-city:after  { background-image:url(../images/background-city.jpg); }
body.background-city2:before, body.background-city2:after { background-image:url(../images/background-city2.jpg); }
body.background-city3:before, body.background-city3:after { background-image:url(../images/background-city3.jpg); }
body.background-silhouette:before, body.background-silhouette:after { background-image:url(../images/background-silhouette.jpg); }
body.background-silhouette2:before, body.background-silhouette2:after { background-image:url(../images/background-silhouette2.jpg); }
body.background-none:before, body.background-none:after { display:none; }