@media only screen and (min-width:1500px) {
#container { margin-left:280px; padding-top:0 !important; transition:none !important; }
#nav { width:280px !important; height:100% !important; left:0; transition:none !important; }
#nav .centre { max-width:none; padding:0; text-align:center; box-sizing:border-box; }
#nav .logo { position:relative; top:70px; left:auto; margin:0; }
#nav nav { right:auto; margin:0 40px; transform:translate(0,-51%); -webkit-transform:translate(0,-51%); border-bottom:1px solid #E5E5E5; -webkit-filter:blur(0px); }
#nav nav:after { content:""; clear:both; display:block; }
#nav nav li { width:200px; border-top:1px solid #E5E5E5; }
#nav nav li a { z-index:1; }
#nav nav li a:after { width:100%; left:0; bottom:-1px; }
#nav nav li ul { top:0; left:100%; text-align:left; }
#nav nav li ul li { width:auto; margin-left:0; border-top:none; }
#nav .book { top:auto; right:auto; bottom:70px; left:50%; margin-left:-80px; text-align:left; }
#language { margin:0 0 0 -27px; top:auto; right:auto; left:50%; bottom:20px; z-index:10; }
#scroll.fixed { top:50px; }
.hover #nav nav li a:hover:after { background-color:#DDD; }
}